*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Barlow,sans-serif;
}
h1, h3{
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

.linktomail a{
    color:rgb(72, 69, 69);
    text-decoration: underline
}