<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body>
    <%-include('partials/header',{title:"FAQ"}) %>
    <main>
        FAQ
    </main>
    <%-include('partials/footer') %>
  </body>
</html>
