<footer class="bg-white">
    <div class="container p-6 mx-auto">
        <hr class="h-px my-6 bg-gray-200 border-none">
        <div>
            <p class="text-center text-gray-500">
                Sitio desarrollado por Martin Gonzalo Velazquez. Copyright © 2024 Tynch32. All rights reserved.
            </p>
            <p class="linktomail text-center text-gray-500">
                <a class= "hipervinculoMail" href="mailto:mgvelazquez32@gmail.com">Enviar correo electronico</a>
            </p>
        </div>
    </div>
</footer>