<header>
    <div class="header_principal">
        <div class="header_logo">
          <div class="header_logo_img_wrapper">
            <img src="/img/logo.jpg" alt="">
          </div>
          <div class="header_logo_info">
            <h1><%=title%></h1>
            <a href="">Ver más</a>
          </div>
        </div>
        <div class="header_socialMedia">
          <h3>Nuestros canales de contacto</h3>
          <div class="header_socialMedia_items">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </div>
        </div>
    </div>
    <div class="header_background">
      <img src="/img/background-image.png">
    </div>
</header>