<div class="card item_container">
    <div class="card-body">
      <span class="item_sinStock">Sin Stock</span>
      <h4 class="card-title item_title"><%= item.name%></h4>
      <p class="card-text item_description"><%=item.description%></p>
      <div class="item_price_container">
        <p class="item_price"><%=item.price%></p>
      </div>
    </div>
</div>